/*background images*/
.mobile-BG-top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;

    @include breakpoints-up(large){
        display: none;
    }
}
.mobile-BG-bottom {
    position: absolute;
    right: 0;
    bottom: -91rem;
    width: 100%;
    height: 100%;
    z-index: -1;


    @include breakpoints-up(large){
        display: none;
    }
}
/* Desktop background*/
.desktop-BG-top {
    @include breakpoints-up(small){
        display: none;
    }

    @include breakpoints-up(medium){
        display: none;
    }

    @include breakpoints-up(large){
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }
}

.desktop-BG-bottom {
    @include breakpoints-up(small){
        display: none;
    }

    @include breakpoints-up(medium){
        display: none;
    }

    @include breakpoints-up(large){
        display: block;
        position: absolute;
        right: 0;
        bottom: -18rem;
        left: 16rem;
        z-index: -1;
    }
}

/* Main Content*/
.social-wrapper {
    margin: 2rem;

    @include breakpoints-up(large){
        display: grid;
        grid-template-columns: repeat(2, 554px);
        grid-gap: 4rem;
        margin-left: 7rem;
    }
}

.hero-text {
    font-weight: 700;
    font-size: 3rem;
    color: $veryDarkMagenta;
    text-align: center;
    padding: 3.3rem 0.2rem 0.2rem 0.2rem;
    margin-bottom: 0.1875rem;

    @include breakpoints-up(large){
        text-align: left;
        margin-right: 0.625rem;
    }
}

.intro-text {
    font-size: 1.1875rem;
    color: $darkGrayishMagenta;
    text-align: center;
    line-height: 1.875rem;

    @include breakpoints-up(large){
        text-align: left;
    }
}

.star-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 24.30rem;

    .reviews {
        height: 6.375em;
        width: 100%;
        background: $lightGrayishMagenta;
        border-radius: 0.625rem;

        .stars {
            text-align: center;
            font-size: 2.625rem;
            scale: 1.2;

            @include breakpoints-up(large){
                text-align: left;
                display: inline-block;
                font-size: 1.625rem;
                margin: 0.6rem 1.875rem 0rem 2.875rem;
            }
        }

        .reviews-text {
            text-align: center;
            font-weight: 500;
            font-size: 1.2rem;
            color: $veryDarkMagenta;

            @include breakpoints-up(large){
                font-weight: 700;
                font-size: 0.775rem;
                display: inline-block;
            }
        }

        @include breakpoints-up(large){
            height: 3.375rem;
            width: 85%;
        }
    }

    @include breakpoints-up(large){
        height: 13.3rem;
        margin-top: 5.0625rem;
        align-self: center;
    }
}

.review-1 {
    align-self: flex-start;
}
.review-2 {
    align-self: center;
}

.review-3 {
    align-self: flex-end;
}

.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 72.3rem;

    @include breakpoints-up(large){
        display: flex;
        flex-direction: row;
        height: 19rem;
        width: min-content;
        position: relative;
        top: -1.875rem;
    }

    .testimonial-box {
        background: $veryDarkMagenta;
        border-radius: 0.625rem;
        padding: 2rem;
        height: 22rem;

        .buyer {
            margin: 0.25rem;
            img {
                float: left;
                border-radius: 50%;

                @include breakpoints-up(medium){
                    margin-left: 1.2rem;
                    height: 6rem;
                }

                @include breakpoints-up(large){
                    height: 3rem;
                    margin-left: 0;
                }
            }

            .name {
                display: inline-block;
                font-weight: 700;
                color: $white;
                font-size: 1.3rem;
                margin-left: 1.625rem;
                line-height: 0.25rem;

                @include breakpoints-up(medium){
                    font-size: 1.875rem;
                }

                @include breakpoints-up(large){
                    font-size: 0.9rem;
                }
            }

            .verified {
                color: $softPink;
                display: inline-block;
                position: relative;
                font-size: 1.25rem;
                font-weight:400;
                top: -1.625rem;
                margin-left: 1.625rem;

                @include breakpoints-up(medium){
                    display: block;
                    margin-left: 10.2rem;
                    font-size: 1.4rem;
                }

                @include breakpoints-up(large){
                    font-size: 0.9rem;
                    display: inline-block;
                    margin: 1.5rem;
                }
            }
            
            @include breakpoints-up(large){
                height: 4.5625rem;
            }
        }

        .testimonial-text {
            font-weight: 400;
            color: $lightGrayishMagenta;
            line-height: 1.875rem;
            font-size: 1.0625rem;

            @include breakpoints-up(medium){
                font-size: 1.625rem;
                line-height: 2.215rem;
            }

            @include breakpoints-up(large){
                font-size: 0.8125rem;
                line-height: 1.25rem;
            }
        }

        @include breakpoints-up(large){
            height: 14.6875rem;
            width: 22.1875rem;
            margin-right: 2rem;
        }
    }
}

.testimonial-1 {
    align-self: flex-start;
}

.testimonial-2 {
    align-self: center;
}

.testimonial-3 {
    align-self: flex-end;
}

.attribution {
    font-size: 0.8rem;
    color: lightgray;
    a{
        text-decoration: none;
        color: lightgray;
    }

    @include breakpoints-up(large){ 
        position: absolute;
        bottom: -8rem;
    }
}